.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--cor-principal);
}

.header-top h2 {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
}

.header-top .button-whats {
    background-color: var(--verde-whatsapp);
    border: 0;
    color: #fff;
    font-size: 16px;
    padding: 6px 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: lighter;
    width: 100%;
}

.header-top .button-whats:hover {
    color: var(--cor-principal);
    cursor: pointer;
    font-weight: lighter;
    background-color: #fff;
}

.icon-whats {
    margin-right: 10px;
}

/* Notebooks pequenos (11 a 13 polegadas) */
@media (max-width: 766px) {
    .header-top {
        height: 100%;
        padding: 10px 10px;
        display: block;
        justify-content: center;
        align-items: center;

    }

    .header-top h2 {
        text-align: center;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        margin-right: 0px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header-top .button-whats {
        background-color: var(--verde-whatsapp);
        border: 0;
        color: #fff;
        font-size: 14px;
        padding: 6px 20px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-top: 10px;
        width: 60%;
    }

    .header-top .button-whats:hover {
        color: var(--cor-secundaria);
        cursor: pointer;
    }

    .icon-whats {
        margin-right: 10px;
    }
}

@media (max-width: 766px) {

}

@media (min-width: 767px) and (max-width: 1024px){

}

@media (min-width: 1025px) and (max-width: 1367px){
    
}